{% extends 'base.html' %} {% block title %}BPE Playground{% endblock %} {% block
content %}
<header class="bg-dark text-white text-center py-3">
  <h1 class="mb-0">BPE Playground</h1>
  <nav>
    <ul class="list-unstyled d-flex justify-content-center">
      <li class="mr-3"><a href="/" class="text-white">Home</a></li>
      <li><a href="/update-corpus" class="text-white">Update Corpus</a></li>
    </ul>
  </nav>
</header>

<div class="container my-4">
  <div class="text-center mb-4">
    <button id="run-button" class="btn btn-success">Run</button>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="code-input">Input Code:</label>
      <textarea
        id="code-input"
        class="form-control"
        rows="10"
        cols="50"
      ></textarea>
    </div>
    <div class="col-md-6">
      <label for="output">Tokenized Output:</label>
      <textarea
        id="output"
        class="form-control"
        rows="10"
        cols="50"
        readonly
      ></textarea>
    </div>
  </div>
</div>

<footer class="bg-dark text-white text-center py-3 mt-4">
  &copy; 2023 BPE Playground. All rights reserved.
</footer>

<script>
  document.getElementById("run-button").addEventListener("click", function () {
    tokenize();
  });

  function tokenize() {
    const codeInput = document.getElementById("code-input").value;
    fetch("/tokenize", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ text: codeInput }),
    })
      .then((response) => response.json())
      .then((data) => {
        const outputTextarea = document.getElementById("output");
        outputTextarea.value = data.tokenized_output;
      })
      .catch((error) => console.error("Error:", error));
  }
</script>
{% endblock %}
